@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Gênero: @Model.Genre.Name</li>
    <li>Classificação: @Model.Classification</li>
</ul>
