
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>
<a href="@Url.Action("New","Movies")">
    <button class="btn btn-primary">New</button>
</a>

<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>                
    </thead>            
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            //Carregar Listagem de Filmes via Ajax consumindo a API
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a href='/movies/edit/" + movies.movieid + "'>" + movies.name + "</a>"
                        }
                    },
                    {
                        data: "genre.name",
                    },
                    {
                        data: "movieid",
                        render: function (data) {
                            return "<button class= 'btn-link js-delete' data-movie-id=" + data + ">Remover Filme</button>"
                        }
                    }
                ]
            });

            //Remoção de filme via ajax
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Têm certeza de que deseja remover este filme?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + $(button).attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        })
                    }
                });
            });
        });

    </script>
}




