
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
        </tr>                                
    </thead>
    
    @foreach (var customer in Model)
     {
         <tr>
             <td>@Html.ActionLink( (string)customer.Name,"Details", new { id = customer.Customerid})</td>             
         </tr>
     }    
</table>
