
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>
<a href="@Url.Action("New","Customers")">
    <button class="btn btn-primary">New</button>
</a>


<table class="table table-bordered table-hover" id="customers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>

        //Render Ajax com a API
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.customerid +"'>" + customer.name + "</a>"
                        }
                    },
                    {
                        data: "membershipType.name",
                    },
                    {
                        data: "customerid",
                        render: function (data) {
                            return "<button class= 'btn-link js-delete' data-customer-id=" + data +">Remover Cliente</button>"
                        }
                    }
                ]
            });

            //Eventos e Handlers Ajax
            $("#customers").on("click",".js-delete",function () {
                var button = $(this);
                bootbox.confirm("Tem certeza de que deseja remover este cliente?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + $(button).attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}